:root {
    --kaitos-mid-purple: #9d4edd;
    --kaitos-light-purple: #e0aaff;
    --kaitos-dark-purple: #5a189a;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-width: 400px;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}
