:root {
    --kaitos-purple-1: #e0aaff;
    --kaitos-purple-2: #c77dff;
    --kaitos-purple-3: #9d4edd;
    --kaitos-purple-4: #7b2cbf;
    --kaitos-purple-5: #5a189a;
    --kaitos-purple-6: #3c096c;
    --kaitos-purple-7: #240046;
    --kaitos-purple-8: #10002b;

    --danger: #d62828;
    --success: #38b000;
    --warning: #f48c06;
    --info: #8ecae6;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--kaitos-purple-3);
    color: white;
}

body {
    padding: 0;
    margin: 0;
    min-width: 400px;
}

a {
    text-decoration: none;
}

/* Borders */
.border-danger {
    border-color: var(--danger) !important;
}

/* Text */
.text-danger {
    color: var(--danger) !important;
}

.text-left {
    text-align: left;
}

/* Toasts */
.toast-success {
    color: white !important;
    background: var(--success) !important;
}

.toast-danger {
    color: white !important;
    background: var(--danger) !important;
}

/* Flex */
.justify-self-start {
    justify-self: start;
}

.align-self-start {
    align-self: flex-start;
}
